*{
    margin: 0em;
    padding: 0em;
    background-color: black;
}
ul{
    list-style-type:none;
}
header{
    background:black;
    display: flex;
    justify-content: space-between;
    padding:20px;
}
.navcon{
    display: none;    
}
#bls{
    padding: 10px;
}
.logo{
    display: flex;
    justify-content: space-between;

}
.container{
    position:relative;
    border-bottom: solid white 2px;
}
.img{
    width: 100%;
    height:100%;
}
h1{ 
    color: aqua;
    background-color: transparent;
    position:absolute;
    top:28px;
    left:16px;
}
#menu{
    z-index:4;
}
#social{
    display: flex;
    justify-content: center;
}
#vid{
    width:100%;
    height:50%;
}
nav ul{
    position: fixed;
    width: 40%;
    top: 0em;
    right: 0em;
    text-align: left;
    background-color: rgb(43, 42, 40);
    height:100%;
    z-index:3;
    padding-top: 3em;
}
nav ul li a{
    color: rgb(248, 246, 246);
    background-color: rgb(43, 42, 40);
    text-decoration: none;
    padding: 1em 2em;
    display: block;
    width: 100%;
}
nav ul li a:hover{
 background:rgb(54, 54, 54);
 color:rgb(15, 136, 192);
}
#social{
      border-bottom: solid white 2px;
}
#foot{
    text-align: center;
    padding: 50px;
    background-color: rgb(39, 38, 38);
}
footer h4{
      margin: 0px;
     font-size: 22px;
     color: whitesmoke;
     background-color: rgb(39, 38, 38);
}
@media only screen and (min-width:360px){
    header{
        size:5px;
    }
    #name{
        font-size: 31px;
    }
    #g-img{
        max-width:100%;
    }

}
@media only screen and (min-width:430px){
    #g-img{
        width: 100%;
    }
    #vid{
        width:100%;
    }
    #name{
        font-size:35px ;
        transform: translatey(-10%);
    }   
}
@media only screen and (min-width:630px){
    #vid{
        width:100%;
    }
    #social{
        justify-content: space-evenly;
    }
    #name{
        font-size: 40px;
        text-align: center;

    }
}

@media only screen and (min-width:860px){
    #vid{
        width:100%;
    }
    #name{
        text-align: center;
        transform: translatey(-20%);
    }

}
@media only screen and (min-width:1024px){
    #vid{
        width:100%;

    }
    #bls{
        margin-bottom: 1px;
        align-items: center;
        padding-top: 20px;
    }
    #name{
        font-size: 45px;
        justify-content: center;
        transform: translatey(-30%);
    }
    .navcon{
        display: block;
        margin: 0 auto 13% auto;
    }
    #menu{
        display: none;
    }
    nav ul{
        position: inherit;
        width: auto;
        background:none;
        display: flex;
        padding-top: 0;
    }
    nav ul li{
        float: left;      
        background-color: black;
      }
    nav ul li a{
        color: white;
        padding:1em 2em;
        background-color: black;

    } 
    nav ul li a:hover{
        background-color:black;
    } 
    #g-img{
        width: 100%;
    }
    #exit{
        display: none;
    }
} 
@media only screen and (min-width:1200px){
    #vid{
        width:100%;
    }
    #bls{
        align-content: center;
        padding-bottom: 20px;
    }
    #name{
        font-size: 50px;
        transform: translatex(30%);
        transform: translateY(-30%);
    }
    nav ul li a{
        font-size: 18px;

    }
    #exit{
        display: none;
    }

}
@media only screen and (min-width:1400px){
    #vid{
        width:100%;
        height:30%;
    }
    #name{
        font-size: 50px;
        transform: translatex(10%);
        transform: translatey(-30%);
    }
    nav ul li a{
        font-size: 20px;

    }
}
@media only screen and (min-width:1700px){
    #vid{
        width:100%;
        height:30%;
    }
    #blz{
        font-size:1px;
        text-align: center;
    }
    #name{
        font-size: 50px;
        transform: translatex(10%);
        transform: translatey(-10%);
    }
    nav ul li a{
        font-size: 20px;
    }

}